<!DOCTYPE html>
<html lang="en">
	<% include head.ejs %>
<body>	
<article id="images">
	<% for (var i = 0; i < detail.img.length; i++) { %>
		<% if (detail.img[i]) { %>
			<a href="<%= detail.img[i] %>"><img src="<%= detail.img[i] %>"></a>
		<% } %>
	<% } %>
</article>

<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('sw.js');
	}
</script>

</body>
</html>

