<head>
	<title>Buildings and their History</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A website where you can find every popular building off Amsterdam">
<!-- 	<link rel="manifest" href="/manifest.json"> -->
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
	<!-- CRITICAL CSS -->
	<style>
	*{margin:0;padding:0}body{font-family:'PT Sans',sans-serif;background-color:#F4F4F4}h1{background-color:crimson;color:white;padding:.5em}
	</style>
</head>