<head>
	<title>Buildings and their History</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<link type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
</head>