<!DOCTYPE html>
<html>
	<% include head.ejs %>
<body>
		
		
		<section id="buildings">
			<h1>Amsterdam Buildings & Image History</h1>
			<input type="search" placeholder="Search buildings"><button type="submit">Find</button>
			<h2>Het Koninklijk Concertgebouw</h1>
			<a href="./details">Naar afbeeldingen</a>
		</section>
</body>
</html>

